* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.avatar{
  transition: 0.5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}

body {
  width: 100%;
  min-height: 100vh;

  a{
    text-decoration: none;
  }

  @media screen and (min-width: 700px) {
    background-image: url("../../public/background-desktop.png");
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 700px) {
    background-image: url("../../public/background-mobile.png");
    background-size: cover;
    background-position: center;
  }
}
